coverage>=4.5.4
flake8>=3.7.8
myst-parser~=0.15.1
pip>=19.2.3
setuptools-scm
Sphinx>=3.1
tox>=3.14.0
twine>=1.14.0
wheel>=0.33.6
{% if cookiecutter.command_line_interface|lower == 'click' -%}
Click>=7.0{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest>=6.2.4{% endif %}
{% if cookiecutter.use_black == 'y' -%}
black~=21.9b0{% endif %}
